<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TopDev Blogs | Blog IT dành cho Developers</title>
    <th:block th:replace="/user/layout::link">
    </th:block>
</head>

<body>
<div th:replace="user/layout::preloader"></div>
<div th:replace="user/layout::navbar"></div>
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="vizew-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page" >
                                <a th:href="${'/category/' + category.id}" th:text="${category.title}"></a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Archive Grid Posts Area Start ##### -->
    <div class="vizew-grid-posts-area mb-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Archive Catagory & View Options -->
                    <div class="archive-catagory-view mb-50 d-flex align-items-center justify-content-between">
                        <!-- Catagory -->
                        <div class="archive-catagory">
                            <a th:text="${category.title}"><h4><i class="fa fa-trophy" aria-hidden="true"></i></h4></a>
                        </div>
                        <!-- View Options -->
<!--                        <div class="view-options">-->
<!--                            <a href="archive-grid.html" class="active"><i class="fa fa-th-large" aria-hidden="true"></i></a>-->
<!--                            <a href="archive-list.html"><i class="fa fa-list-ul" aria-hidden="true"></i></a>-->
<!--                        </div>-->
                    </div>

                    <div class="row">
<!--                         Single Blog Post -->
                        <th:block th:each="tech,iter : ${tech}">
                            <div class="col-12 col-md-6">
                                <div class="single-post-area mb-50">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img th:src="@{/upload/__${tech.image}__}" alt="">
                                    </div>

                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-cata cata-sm cata-success" th:text="${tech.category.title}"></a>
                                        <a href="single-post.html" class="post-title" th:text="${tech.title}"></a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 22</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 16</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 15</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:each="code,iter : ${code}">
                            <div class="col-12 col-md-6">
                                <div class="single-post-area mb-50">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img th:src="@{/upload/__${code.image}__}" alt="">
                                    </div>

                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-cata cata-sm cata-success" th:text="${code.category.title}"></a>
                                        <a href="single-post.html" class="post-title" th:text="${code.title}"></a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 22</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 16</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 15</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:each="tools,iter : ${tools}">
                            <div class="col-12 col-md-6">
                                <div class="single-post-area mb-50">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img th:src="@{/upload/__${tools.image}__}" alt="">
                                    </div>

                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-cata cata-sm cata-success" th:text="${tools.category.title}"></a>
                                        <a href="single-post.html" class="post-title" th:text="${tools.title}"></a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 22</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 16</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 15</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>

                    <!-- Pagination -->
                    <nav class="mt-50">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="sidebar-area">

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget followers-widget mb-50">
                            <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span class="counter">198</span><span>Fan</span></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span class="counter">220</span><span>Followers</span></a>
                            <a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i><span class="counter">140</span><span>Subscribe</span></a>
                        </div>

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget latest-video-widget mb-50">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">
                                <h4>Latest Video</h4>
                                <div class="line"></div>
                            </div>

                            <th:block th:each="findnewpostby5,iter : ${findnewpostby5}">
                                <div class="single-post-area mb-30">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img th:src="@{/upload/__${findnewpostby5.image}__}" alt="">
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-cata cata-sm cata-success">Sports</a>
                                        <a th:href="@{/view/__${findnewpostby5.id}__}" class="post-title" th:text="${findnewpostby5.title}"></a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${findnewpostby5.getNumberView()}"></span></a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${findnewpostby5.getNumberLike()}"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </th:block>

                        </div>

                        <!-- ***** Single Widget ***** -->
                        <div th:replace="user/layout::widget"></div>

                        <!-- ***** Sidebar Widget ***** -->
                        <div th:replace="user/layout::hotchannel"></div>

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget newsletter-widget mb-50">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">
                                <h4>Newsletter</h4>
                                <div class="line"></div>
                            </div>
                            <p>Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
                            <!-- Newsletter Form -->
                            <div class="newsletter-form">
                                <form action="#" method="post">
                                    <input type="email" name="nl-email" class="form-control mb-15" id="emailnl" placeholder="Enter your email">
                                    <button type="submit" class="btn vizew-btn w-100">Subscribe</button>
                                </form>
                            </div>
                        </div>

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">
                                <h4>Most Viewed Playlist</h4>
                                <div class="line"></div>
                            </div>

                            <th:block th:each="findmostview,iter : ${findmostview}">
                                <div class="single-blog-post d-flex">
                                    <div class="post-thumbnail">
                                        <img th:src="@{/upload/__${findmostview.image}__}" alt="">
                                    </div>
                                    <div class="post-content">
                                        <a th:href="@{/view/__${findmostview.id}__}" class="post-title" th:text="${findmostview.title}"></a>
                                        <div class="post-meta d-flex justify-content-between">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${findmostview.getNumberView()}"></span></a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span th:text="${findmostview.getNumberLike()}"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer th:replace="user/layout::views-footer"></footer>

<th:block th:replace="user/layout::Javascript">
</th:block>
</body>

</html>