<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="admin/layout::header">-->
<!--</head>-->
<!--<body class="nav-md">-->
<!--<div class="container body">-->
<!--    <div class="main_container">-->
<!--        <div class="col-md-3 left_col" th:replace="admin/layout::app-navbar" ></div>-->
<!--        &lt;!&ndash; top navigation &ndash;&gt;-->
<!--        <div class="top_nav" th:replace="admin/layout::app-header" ></div>-->
<!--        &lt;!&ndash; /top navigation &ndash;&gt;-->

<!--        &lt;!&ndash; page content &ndash;&gt;-->
<!--        <div class="right_col" role="main">-->
<!--            <div class="">-->
<!--                <div class="page-title">-->
<!--                    <div class="title_left">-->
<!--                        <h3 th:text="${term}"></h3>-->
<!--                    </div>-->
<!--                    <div class="title_right">-->
<!--                        <div class="col-md-12 col-sm-12">-->
<!--                            <div class="float-right"> <a th:href="@{/admin/category/}" class="btn btn-primary">List</a></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="clearfix"></div>-->

<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="x_panel">-->
<!--                            <div class="x_title">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-md-6 col-sm-6">-->
<!--                                        <h2 th:utext="${title +'<small>' + term + '</small>'}"></h2>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="clearfix">-->

<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="x_content">-->
<!--                                <br />-->
<!--                                <form class="form-horizontal form-label-left" th:action="@{/admin/category/}+${action}" th:object="${tag}" method="post" >-->
<!--                                    <input type="hidden" th:field="*{id}">-->
<!--                                    <div class="form-group row ">-->
<!--                                        <label class="control-label col-md-3 col-sm-3 ">Title</label>-->
<!--                                        <div class="col-md-9 col-sm-9 " th:text="*{title_Cata}">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="ln_solid"></div>-->
<!--                                    <div class="form-group">-->
<!--                                        <div class="col-md-9 col-sm-9  offset-md-3">-->
<!--                                            <button type="submit" class="btn btn-success">Delete</button>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; /page content &ndash;&gt;-->
<!--        &lt;!&ndash; footer content &ndash;&gt;-->
<!--        <footer th:replace="admin/layout::app-footer" ></footer>-->
<!--        &lt;!&ndash; /footer content &ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
<!--<th:block th:replace="admin/layout::block-script" ></th:block>-->
<!--</body>-->
<!--</html>-->