<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout::header">
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="admin/layout::app-navbar" ></div>
        <!-- top navigation -->
        <div class="top_nav" th:replace="admin/layout::app-header" ></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3 th:text="${term}"></h3>
                    </div>
                    <div class="title_right">
                        <div class="col-md-12 col-sm-12">
                            <div class="float-right"> <a th:href="@{/admin/category/}" class="btn btn-primary">List</a></div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <h2 th:utext="${title +'<small>' + term + '</small>'}"></h2>
                                    </div>

                                    <div class="col-md-6 col-sm-6 ">
                                        <th:block th:if="${message}">
                                            <div  th:class="${'alert ' + alert + ' alert-dismissible '}" role="alert" th:utext="${'<strong>'+term+'</strong> '+ message}" >
                                            </div>
                                        </th:block>
                                    </div>
                                </div>

                                <div classadmin="clearfix">

                                </div>
                            </div>
                            <div class="x_content">
                                <br />
                                <form class="form-horizontal form-label-left" th:action="@{/admin/category/}+${action}" th:object="${category}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" th:field="*{id}">
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Title</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="text"  required class="form-control" placeholder="Content Title" th:field="*{title}">
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-9 col-sm-9  offset-md-3">
                                            <button type="reset" class="btn btn-primary">Reset</button>
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="admin/layout::app-footer" >

        </footer>
        <!-- /footer content -->
    </div>
</div>
<th:block th:replace="admin/layout::block-script" >
</th:block>
</body>
</html>